# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.swp
*.swo

# System files
.DS_Store